*{
    transition: .2s;

}

body{
    background-color:#0c1b2b;
    color:white;
    font-family: 'Ubuntu Condensed', sans-serif;
}
th,td,tr{
    color:white;
}

.milad-td:hover {
    color:orange;
}
        
.loader-gif{
    text-align: center;
    margin: 0 auto;
    width:15%;
    border:none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-wrap{
    display: flex;
    justify-content: space-between;
    color:black;
}

p{
    color: black
}

.modal-img{
    width:150px;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

a{
    color:darkturquoise;
}

.author-head{
    background-color: red;
    color:white;
    border-radius: 7px;
    padding: 2px 7px;
    width:30%;
}

a:hover {
    color: yellow;
}

input.form-control[type=text]{
    height:30px;
}
img{
    border:3px ridge white;
    padding: 4px;
    width:100px;
    
}
.cover-pic {
    max-width: 150px;
    width:80px;
    border-style: solid ;
}

/*
#myModal1 {
    border:1px solid orange;
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height:300px;
    z-index: 40000;
    background-color:white;
    color: black;
    display: none;
}*/

#myModal2{
    display: none;
}

h1,h4,h5{
    text-align: center;
}

.right-side{
    display: flex;
}

.colored-name{
    background-color: red;
    padding: 2px 3px;
    border-radius: 5px;
    color:white;
    font-size: 14px;
    width: 15%;
}

